<% form_for @survey do |f| %>  
  <p>  
    <%= f.label "Názov ankety" %><br />  
    <%= f.text_field :name, :size => "40" %>  
  </p>  
  <% f.fields_for :questions do |builder| %>  
    <%= render 'question_fields', :f => builder %>  
  <% end %>
  <p><%= f.submit "Odoslať" %></p>  
<% end %>