<div class="fields">  
  <p>  
    <%= f.label :content, "Otázka" %><br>
    <%= f.text_area :content, :rows => 3, :size => '70x4' %><br />  
  </p>  
  <% f.fields_for :answers do |builder| %>  
    <%= render 'answer_fields', :f => builder %>  
  <% end %>
</div>